.header {

    border-bottom: 1px solid #efefef;

}

.header-toolbar {

    max-width: 1400px;

    width: 100%;

    margin: auto;

    display: flex;

    justify-content: space-between;

    align-items: center;

    gap: 40px;

    min-height: 75px !important;

}