.auth-form-container {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #fff;
    padding: 40px;
}

.auth-form-content {
    width: 100%;
    max-width: 520px;
    padding: 24px 36px;
}

.auth-form-content>*+* {
    margin-top: 20px;
}
