.auth-header {
  text-align: center;
  margin-bottom: 32px;
}

.auth-title-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 6px;
}

.auth-title {
  font-size: 40px !important;
  font-weight: 700 !important;
  color: #222;
}

.auth-title-icon {
  color: #ff5b84;
  font-size: 18px !important;
  margin-top: 6px;
}

.auth-subtitle {
  margin-top: 8px !important;
  color: #7a7a7a;
  font-size: 16px !important;
}