.custom-password-field {
  margin-bottom: 20px !important;
}

.custom-password-field .MuiOutlinedInput-root {
  border-radius: 10px;
}

.custom-password-field .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #f05c78;
}

.custom-password-field .MuiInputLabel-root.Mui-focused {
  color: #f05c78;
}

