.settings-title{

    font-size:34px !important;

    font-weight:700 !important;

    color:#2f2f2f;

}

.settings-subtitle{

    color:#777;

    margin-top:8px !important;

    margin-bottom:30px !important;

}